.aparecerAnim{
    animation-name: aparecer;
    animation-duration: 1.5s;
}


@keyframes aparecer{
    0% {transform: translate(0px,-10px);}
    0% {opacity: 0%;}
    70% {opacity: 100%;}
    100% {transform: translate(0px,0px);}
}



body{
    font-family:sans-serif ;
}

.negrita{
    font-weight: bold;
}

.text-justify{
    text-align: justify;
}

.bg-claro{
    background-color: rgb(195, 255, 187);
}

.bg-claro2{
    background-color: rgb(89, 202, 89);
}

.bg-moderado{
    background-color: rgb(133, 207, 0)
}

.bg-fuerte{
    background-color: rgb(0, 136, 0);
}

.bg-azul-claro{
    background-color: rgb(92, 244, 255);
}

.logo{
    height: 80%;
    width: 80%;
}

.imgNoticiaIndex{
    height: 300px;
    width: 300px;
}

.espacio-header-pc{
    margin-top: 6%;
}

.espacio-header-movil{
    margin-top: 20%;
}

.video-present{
    min-width: 300px;
    min-height: 190px;
    height: 70%;
    width: 75%;
}

.form-contacto{
    background-color: rgb(255, 255, 179);
}

.img-footer{
    min-width: 50px;
    min-height: 50px;
    height: 80%;
    width: 80%;
}
